<div class="card">
  <div class="card-body">
    <%= form_with(model: @article) do |form| %>
      <div class="field">
        <%= form.label :title, label: 'Título' %>
        <%= form.text_field :title %>
        <%= form.rich_text_area :content %>
        <%= form.submit 'Enviar', class: 'btn btn-primary mt-3' %>
        <%= link_to 'Cancelar', articles_path, class: 'btn btn-primary mt-3' %>
      </div>
    <% end %>
  </div>
</div>


  