<div class="card">
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Matrícula</th>
          <th scope="col">Nome de Guerra</th>
          <th scope="col">Nome</th>
          <th scope="col">Equipe</th>
          <th scope="col">Pontuação</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.registration %></td>
          <td><%= user.username.upcase %></td>
          <td><%= user.name.titleize %></td>
          <% if user.team.nil? %>
            <td> - </td>
          <% else %>
            <td><%= truncate(user.team.name, length: 9) %></td>
          <% end %>
          <td><%= user.score %></td>
        </tr>
        <% end %> 
      </tbody>
    </table>
  </div>
</div>

