<div class="card">
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Matrícula</th>
          <th scope="col">Nome de Guerra</th>
          <th scope="col">Nome</th>
          <th scope="col">Equipe</th>
          <% if current_user.user_admin? %>
            <th>AÇÕES</th>
          <% end %>
          
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.registration %></td>
          <td><%= user.username.upcase %></td>
          <td><%= user.name.titleize %></td>
          <% if user.team.nil? %>
            <td> - </td>
          <% else %>
            <td><%= user.team.name%></td>
          <% end %>
           <td>
            <%= link_to edit_user_path(user), class:"btn btn-warning btn-circle" do %>
              <i class='fa fa-edit'></i>
            <% end %>
            <%= link_to user_path(user), method: :delete, data: {confirm: 'Tem certeza ?'}, class:"btn btn-danger btn-circle" do %>
              <i class='fa fa-trash'></i>
            <% end %>
           </td>
        </tr>
        <% end %> 
      </tbody>
    </table>
  </div>
</div>

