<% provide(:title, 'Sign up') %>
<h1>Novo Usuário</h1>


  
    <%= simple_form_for @user do |f| %>
    <%= render 'shared/error_messages' %>
      <%= f.input :name, label: "Nome" %>

      <%= f.input :password, label: "Senha" %>

      <%= f.input :password_confirmation, label: "Confirmação da Senha" %>
      
      <%= f.input :registration, label: "Matrícula" %>
      
      <%= f.input :username, label: "Nome de Guerra" %>
     
     
      <%= f.input :agent, label: " Agente de Trânsito", as: :boolean  %>
   
      <%= f.input :supervisor, label: " Supervisor", as: :boolean  %>
      
      <%= f.input :admin, label: " Administrador", as: :boolean %>
     
      

      <%= f.submit "Criar Conta" %>
    <% end %>
  
