<%= simple_form_for @car do |f| %>
  <%= f.input :vtr, label: 'Viatura' %>
  <%= f.input :licence_plate, label: 'Placa' %>
  <%= f.input :owner, label: 'Proprietário' %>
  <%= f.input :brand, label: 'Marca' %>
  <%= f.input :model, label: 'Modelo' %>
 
  <div id='items'>
    <%= f.simple_fields_for :items do |item| %>
      <%= render 'item_fields', f: item  %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'adicionar item', f, :items %>
    </div>
  </div>
<%= f.submit 'Save' %>
<% end %>