<%= simple_form_for @car do |f| %>
  <%= f.input :vtr, label: 'Viatura' %>
  <%= f.input :licence_plate, label: 'Placa' %>
  <%= f.input :owner, label: 'Proprietário' %>
  <%= f.input :brand, label: 'Marca' %>
  <%= f.input :model, label: 'Modelo' %>
  <h3>Items</h3>
  <div id='items'>
    <% f.simple_fields_for :items do |item| %>
      <%= render partial: 'item_fields', locals: { f: item } %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'Adicionar Item', f, :items %>
    </div>
  </div>
<%= f.submit "Criar Viatura" %>
<% end %>