   <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <%= link_to "AMT OPERACIONAL", root_path, class:"navbar-brand", id:"logo" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <%= link_to "Home", user_path(current_user), class: "nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link_to "Check-list", check_lists_path, class: "nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link_to "Viaturas", vehicles_path, class: "nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link_to "Log out", logout_path, class: "nav-link", method: :delete %>
            </li>
          </ul>
        
        </div>
      </nav>
    </header>