<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | AMT - OPERACIONAL</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="pb-5" >
    <% if logged_in? %>
      <%= render 'layouts/navigation' %>
    <% end %>
    
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 offset-md-1 mt-5 offset-lg-2">
        <%= render 'layouts/message' %>
          <% if logged_in? %>
            <div class="card">
              <div class="card-body">
                <%= yield %>
              </div>
            </div>
          <% else %>
            <%= yield %>
          <% end %>
        </div>
      </div>
    </div>

 
  </body>
</html>

 
